.ui-widget, .ui-widget .ui-widget
{
	font-size: 95% !important;
}

.ui-picklist .ui-picklist-list {
    height: 200px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 400px;
    font-size: 100% !important;
}
.ui-corner-all {
    border-radius: 3px 3px 3px 3px;
}
.ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A8A8A8;
    color: #4F4F4F;
}
ul {
}

 
.ui-icon1 {   
    width: 40px;   
    height: 40px;   
    background: url(#{resource['images/7.jpg']});  
}

.panelGridBorder td, .panelGridBorder tr{
    border:none;
}

.viewForm td, .viewForm tr{
	border:none;
	font-size: 12px;
    margin:10; padding:10;
	width:100px;
}

.viewFormLabel{
	font-weight:bold;
}

.lookup td {
    border:none;
}

.lookup tr {
    border:none;
}


.loginHeaderGrid tr1, .loginHeaderGrid td, .loginHeaderGrid div {
    border: none;
}

.ui-menuitem-icon.org {
	background: url("#{resource['images/organization_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}
.ui-menuitem-icon.user {
	background: url("#{resource['images/user_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}


.ui-menuitem-icon.selfreg {
	background: url("#{resource['images/selfregistration.png']}") no-repeat;
	height:20px;
	width:20px;
}
.ui-menuitem-icon.forgotPwd {
	background: url("#{resource['images/forgotPassword_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.forgotUsername {
	background: url("#{resource['images/forgotUsername_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.trackRegistration {
	background: url("#{resource['images/trackRegistration_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.about {
	background: url("#{resource['images/about_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.login {
	background: url("#{resource['images/login_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.account {
	background: url("#{resource['images/privAccount_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.accountPolicy {
	background: url("#{resource['images/policy_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.scheduler {
	background: url("#{resource['images/scheduledTask_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.scheduler {
	background: url("#{resource['images/scheduledTask_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.notification {
	background: url("#{resource['images/notification_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.application {
	background: url("#{resource['images/application_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.applicationInstance {
	background: url("#{resource['images/applicationInstance_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.systemProperty {
	background: url("#{resource['images/sys_small.png']}") no-repeat;
	height:20px;
	width:20px;
}







.ui-menuitem-icon.role {
	background: url("#{resource['images/role_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-icon.new {
	background: url("#{resource['images/new_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.edit  {
	background: url("#{resource['images/edit_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-icon.edit  {
	background: url("#{resource['images/edit_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.enable  {
	background: url("#{resource['images/enable_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-icon.enable  {
	background: url("#{resource['images/enable_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.disable  {
	background: url("#{resource['images/disable_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-icon.disable  {
	background: url("#{resource['images/disable_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.lock  {
	background: url("#{resource['images/lock_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-icon.lock  {
	background: url("#{resource['images/lock_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-menuitem-icon.unlock  {
	background: url("#{resource['images/unlock_small.png']}") no-repeat;
	height:20px;
	width:20px;
}

.ui-icon.unlock  {
	background: url("#{resource['images/unlock_small.png']}") no-repeat;
	height:20px;
	width:20px;
}


 .userDetailTab{     
	background: url("#{resource['images/user_small.jpg']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

.roleClass{     
	background: url("#{resource['images/group.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

.user{     
	background: url("#{resource['images/user_small.jpg']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}


.cert{     
	background: url("#{resource['images/unlock_small.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

.userTree{     
	background: url("#{resource['images/group.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

 
.roleClass1{     
	background: url("#{resource['images/group.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}


.ui-icon.delete {
	background: url("#{resource['images/delete.jpg']}") no-repeat;
	height:20px;
	width:20px;
}
.ui-icon.search {
	background: url("#{resource['images/search.jpg']}") no-repeat;
	height:20px;
	width:20px;
}



.ui-menuitem-org {
	background: url("#{resource['images/organization_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}
.ui-menuitem-org {
	background: url("#{resource['images/role_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}
.user {
	background: url("#{resource['images/user_small.jpg']}") no-repeat;
	height:20px;
	width:20px;
}

.add {
	background: url("#{resource['images/user_small.jpg']}") no-repeat;
	height:24px;
	width:24px;
}

 .menu_user{     
	background: url("#{resource['images/user_small.jpg']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

 .menu_org{     
	background: url("#{resource['images/organization_small.jpg']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

 .menu_role{     
	background: url("#{resource['images/group.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

 .menu_create{     
	background: url("#{resource['images/create_small.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}

 .menu_search{     
	background: url("#{resource['images/search_small.png']}") !important;
	background-repeat:no-repeat !important;
	display:inline-block;
}




.ui-datatable td {
    font-size: 90% !important;
}







