<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
 
    <h:head>
     </h:head>
 
    <h:body>
 
  	<ui:composition>
 
			<h:form prependId="false">
			
		<p:toolbar> 			
			<p:toolbarGroup align="left">  
						<img src="../resources/images/logo.jpg" width="175" height="100" />
						<h:outputLabel value=" "
							style="bottom:30px;position:relative" />
	    	</p:toolbarGroup>  
	    	
	    	
	  
	    	<p:toolbarGroup align="right" style="margin-top:20px;">
		        	<h:outputText value="Hi #{adminBean.loggedInUser} !" />  
	    		<p:separator/>
	    		
	    		
	    	 
	    		
	    		 <h:outputLink value="/logout">Sign Out</h:outputLink>
	    		 
		     	<p:separator/>
		      	<p:commandLink id="ajax31">  
		        	<h:outputText value="Help" />  
		    	</p:commandLink> 
			</p:toolbarGroup>  			
		</p:toolbar> 

 
	</h:form>
	
	</ui:composition>
	
    </h:body>
</html>