<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
 
    <h:head>
	<h:outputStylesheet name="common-style.css" library="css" />
    </h:head>
 
    <h:body>
    
    <f:facet name="last">
		<h:outputStylesheet name="test.css" library="css"></h:outputStylesheet>
	</f:facet>
    
 
 <p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="100" resizable="false" closable="true" collapsible="false">  
        <ui:insert name="header" >
		  <ui:include src="/common/adminHeader.xhtml" />
		</ui:insert>  
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="40" resizable="true" closable="false" collapsible="true">  
       <ui:insert name="header" >
		  <ui:include src="/common/footer.xhtml" />
		</ui:insert>  
    </p:layoutUnit>  
  
    <p:layoutUnit position="west" size="350"  resizable="true" closable="false" collapsible="true">  
        <ui:insert name="west" >
        <h:outputText value="West unit content." />  
		</ui:insert> 
        
    </p:layoutUnit>  
  
  
    <p:layoutUnit position="center">  
        <ui:insert name="center" >
        <h:outputText value="center unit content." />  
		</ui:insert> 
    </p:layoutUnit>  
  
</p:layout>  
 
 
 
 
    </h:body>
</html>