<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
 
    <h:head>
     </h:head>
 
    <h:body>
 
  	<ui:composition>
 
		      	<h:form>
	  
<p:toolbar> 			
			
	  
	    	<p:toolbarGroup align="right"> 
	      		<p:commandLink id="ajax1">  
	        		<h:outputText value="Privacy" />  
	    		</p:commandLink> 
	    		<p:separator/>
		      	<p:commandLink id="ajax2">  
		        	<h:outputText value="Terms of Use" />  
		    	</p:commandLink> 
		     	<p:separator/>
		      	                <h:outputText value="Next ID © 2018."></h:outputText>

			</p:toolbarGroup>  			
		</p:toolbar>
	 
				
		 
		</h:form>
 
	</ui:composition>
	
    </h:body>
</html>