<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:composite="http://java.sun.com/jsf/composite"
		xmlns:p="http://primefaces.org/ui">
	<h:head/>
	<h:body>
		<f:facet name="last">
			<h:outputStylesheet name="test1.css" library="css"></h:outputStylesheet>
		</f:facet>

		<composite:interface>
			<composite:attribute name="headerLabel" />
			<composite:attribute name="searchLabel" />
			<composite:attribute name="id" />
			<composite:attribute name="selectLabelText" />
			<composite:attribute name="lookupBean" />
			<composite:attribute name="lookupValue" />
			<composite:attribute name="component" />
			<composite:attribute name="value" />
			<composite:attribute name="displayValue" />
			
			<composite:attribute name="searchButtonAction" 
				method-signature="java.lang.String action()" />
			<composite:attribute name="selectButtonAction" 
				method-signature="java.lang.String action()" />
		</composite:interface>	

		<composite:implementation>
			<div id="#{cc.clientId}">
				<p:outputPanel rendered="true" > 	
				  
				<p:growl id="growl" showDetail="true" life="3000" />  
				<h:inputHidden id="lookupValueId" value="#{lookupBean.selectedId}"/> 
				
				<p:panelGrid columns="3" styleClass="lookup" id="lookupPanel"> 
					<p:inputText id="#{cc.attrs.id}lookupValueName" readonly="true" label="User Name" value="#{cc.attrs.lookupValue.name}"/>  
					<p:commandButton icon="ui-icon-star" title="Icon Only" actionListener="#{cc.attrs.searchButtonAction}"/>
				</p:panelGrid>
				 
				</p:outputPanel>
				
					<p:dialog id="#{cc.attrs.id}" header="#{cc.attrs.headerLabel}" widgetVar="checkoutDialog#{cc.attrs.id}" resizable="true"
						showEffect="fade" hideEffect="explode" appendToBody="false" >					
						<h:form>  						
							<h:panelGrid id="#{cc.attrs.id}displaycheckoutDialog" columns="1" cellpadding="4">
								<p:row>
									<p:column><h:outputLabel value="#{cc.attrs.searchLabel}"></h:outputLabel></p:column>
									<p:column>
										<p:inputText id="searchText" value="#{lookupBean.searchText}"/>
									</p:column>
									<p:column>
										<p:commandButton  id="ajax#{cc.attrs.id}" update="#{cc.attrs.id}searchPanel,#{cc.attrs.id}selectPanel" icon="ui-icon-search" 
											title="Search" action="#{cc.attrs.searchButtonAction}">
											<f:setPropertyActionListener target="#{lookupBean.selectedLookup}" value="#{lookupValue}" />
										</p:commandButton>
									</p:column>
								</p:row>        			 
								<p:outputPanel id="#{cc.attrs.id}searchPanel"> 
									<p:row>
										<p:column colspan="3">
											<p:dataTable id="lookups" var="lookup" value="#{cc.attrs.lookupBean.lookupDataModel}"
												paginator="true" rows="10" selection="#{cc.attrs.lookupValue}"
												selectionMode="single" rendered="#{cc.attrs.lookupBean.tableRendered}" > 
											
											<p:ajax event="rowSelect" listener="#{cc.attrs.lookupBean.onRowSelect}"/>  
											<p:ajax event="rowUnselect" listener="#{cc.attrs.lookupBean.onRowUnselect}" />   
											<p:column headerText="Name" style="width:25%">
												<h:outputLink value="#">#{lookup.name}</h:outputLink>  
											</p:column>  
											<p:column headerText="Desription" style="width:25%">  
												#{lookup.description}  
											</p:column>  
										</p:dataTable>
										</p:column>
									</p:row>
								</p:outputPanel>
								<p:outputPanel id="#{cc.attrs.id}selectPanel"> 
									<p:row>
										<p:column colspan="3">
										<p:commandButton id="selectButton#{cc.attrs.id}" value="#{cc.attrs.selectLabelText}" 
											action="#{cc.attrs.selectButtonAction}" style="float:right;" 
											oncomplete="checkoutDialog#{cc.attrs.id}.hide()" update=":#{cc.clientId}:lookupPanel"/>							
										</p:column>
									</p:row>
								</p:outputPanel>					   
							</h:panelGrid>
						</h:form>
					</p:dialog>
			</div>
		</composite:implementation>
	</h:body>
</html>
