<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>

<h:head>
</h:head>

<h:body styleClass="loginHeaderGrid1">
	<f:facet name="last">
		<h:outputStylesheet name="test.css" library="css"></h:outputStylesheet>
	</f:facet>	
	<p:layout fullPage="true">
 
		<!-- p:layoutUnit position="west" size="250">
		
		<h:form> 
		
		<p:panelMenu style="width:250px">  
        <p:submenu label="Self Service" >  
            <p:menuitem value="Forgot Password"  	url="" 		ajax="true"		icon="forgotPwd"/>  
            <p:menuitem value="Forgot UserName"  	url="" 		ajax="true" 	icon="forgotUsername"/>  
            <p:menuitem value="Self Registration" 	url="" ajax="false" 	icon="selfreg"/>  
            <p:menuitem value="Track Registration"  url="" 	ajax="true" 	icon="trackRegistration"/>  
            <p:menuitem value="About HYS"  ajax="false" icon="about"/>  
        </p:submenu>  
        <p:separator />  
    </p:panelMenu>  
      
      </h:form>
		</p:layoutUnit-->

		<p:layoutUnit position="south" size="50">  
			<h:form>
				<p:toolbar>			
					<p:toolbarGroup align="right"> 
					<p:commandLink id="ajax1">  
					<h:outputText value="Privacy" />  
					</p:commandLink> 
					<p:separator/>
					<p:commandLink id="ajax2">  
					<h:outputText value="Terms of Use" />  
					</p:commandLink> 
					<p:separator/>
					<h:outputText value="Eakam © 2018."></h:outputText>
					</p:toolbarGroup>  			
				</p:toolbar>
			</h:form>
		</p:layoutUnit>  
		
		<p:layoutUnit position="center" styleClass="loginHeaderGrid">  
					<h:form>
				<h:inputHidden></h:inputHidden>
				<p:toolbar>		
					<p:toolbarGroup align="left">  
						<img src="resources/images/logo.jpg" width="175" height="100" />
						<h:outputLabel value="Ekam"
							style="bottom:30px;position:relative" />
					</p:toolbarGroup>  

 				</p:toolbar> 
			</h:form>	
		
			<h:form prependId="false">  
				<p:panel id="loginPanel" >  
					<p:messages id="msgs"/>  
					<p:panelGrid columns="2" style="margin-top:120px;margin-left:35%" >  
						<f:facet name="header">  
							Sign In!  
						</f:facet>  
						

      <p:outputLabel value="Login failed!" styleClass="red"
        rendered="${!empty param['error']}" />

      <p:outputLabel value="User Name"/>

      <p:inputText id="username" name="username" placeholder="User name" />
            <p:outputLabel value="Password"/>
      
      <p:password id="password" name="password" placeholder="Password" />

      <p:commandButton value="Login" ajax="false" />
										
						<!-- h:outputLabel value="User Name" for="j_username" />  
						<p:inputText id="j_username" required="true" value="#{loginHandler.userName}" label="User Name" >
 						</p:inputText>
						<p:message for="j_username" id="msgUserName" display="icon"/>   
						<h:outputLabel for="j_password" value="Password" />  
						<p:password id="j_password" value="#{loginHandler.password}" required="true" label="Password" >  
 						</p:password>
						<p:message for="j_password" id="msgPassword" display="icon"/>					
						<f:facet name="footer">  
							<p:commandButton  value="Login" style="float:right;" action="#{loginHandler.login}" update="msgs"/>  
						</f:facet-->  
					</p:panelGrid>
				</p:panel>
			</h:form>  
		</p:layoutUnit>  
	</p:layout>  
</h:body>
</html>