<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
 
    <h:body>
    	<ui:composition>
    	<ui:debug /> 	
			<p:outputPanel rendered="true" id="tabPanelOutput"> 	
				<f:subview id="adminTabPanelView">
					<p:tabView id="adminTabPanel"  dynamic="true" cache="false">
					
						<p:ajax event="tabChange" listener="#{adminBean.onTabChange}"/>  
						<p:ajax event="tabClose" listener="#{adminBean.onTabClose}"/>
										
						<p:tab title="Welcome" id="welcomeTab">  
     		 				<h:form prependId="false">
								<p:panelGrid columns="2" cellpadding="10">
								  
									<p:panelGrid columns="2" cellpadding="10" styleClass="panelGridBorder">                 
						                 <f:facet name="header">  
						        			User Management
										</f:facet>
										<h:graphicImage url="/resources/images/user.png" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createUserComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create User   <p:spacer width="300" height="10" />  </p:commandLink>
										<h:graphicImage url="/resources/images/user.png" width="20" height="20"/>
										<p:commandLink>Advance Search Users  <p:spacer width="200" height="10" /></p:commandLink>
										<h:graphicImage url="/resources/images/organization_small.jpg" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createOrgComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Organization</p:commandLink>
										<h:graphicImage url="/resources/images/organization_small.jpg" width="20" height="20"/>
										<p:commandLink>Advance Search Organizations</p:commandLink>
										<h:graphicImage url="/resources/images/role_small.jpg" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createRoleComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Role</p:commandLink>
										<h:graphicImage url="/resources/images/role_small.jpg" width="20" height="20"/>
										<p:commandLink>Advance Search Roles</p:commandLink>                
									</p:panelGrid>  
						
									<p:panelGrid columns="2" cellpadding="10" styleClass="panelGridBorder">                 
						                 <f:facet name="header">  
						        			System Administration
										</f:facet>
										<h:graphicImage url="/resources/images/scheduledTask_small.jpg" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createSchedulerComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Scheduled Task   <p:spacer width="300" height="10" />  </p:commandLink>
										<h:graphicImage url="/resources/images/scheduledTask_small.jpg" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createNotificationComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Advance Search Scheduled Tasks  <p:spacer width="200" height="10" /></p:commandLink>
										<h:graphicImage url="/resources/images/notification_small.jpg" width="20" height="20"/>
										<p:commandLink>Create Notification Template</p:commandLink>
										<h:graphicImage url="/resources/images/notification_small.jpg" width="20" height="20"/>
										<p:commandLink>Advance Search Notification Templates</p:commandLink>
										<h:graphicImage url="/resources/images/sys_small.png" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createSystemPropertyComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create System Property</p:commandLink>
										<h:graphicImage url="/resources/images/sys_small.png" width="20" height="20"/>
										<p:commandLink>Advance Search System Properties</p:commandLink>
									</p:panelGrid>  
						
									<p:panelGrid columns="2" cellpadding="10" styleClass="panelGridBorder">                 
						                 <f:facet name="header">  
						        			IT Infrastructure Administration
										</f:facet>
										<h:graphicImage url="/resources/images/application_small.png" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createApplicationComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Application Definition   <p:spacer width="100" height="10" />  </p:commandLink>
										<h:graphicImage url="/resources/images/application_small.png" width="20" height="20"/>
										<p:commandLink>Advance Search Application Definition  <p:spacer width="200" height="10" /></p:commandLink>
										<h:graphicImage url="/resources/images/applicationInstance_small.jpgg" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createApplicationInstanceComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Application Instance</p:commandLink>
										<h:graphicImage url="/resources/images/applicationInstance_small.jpg" width="20" height="20"/>
										<p:commandLink>Advance Search Application Instance</p:commandLink>
									</p:panelGrid>  
						
									<p:panelGrid columns="2" cellpadding="10" styleClass="panelGridBorder">                 
						                 <f:facet name="header">  
						        			Account Administration
										</f:facet>
										<h:graphicImage url="/resources/images/privAccount_small.jpg" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createAccountsComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Account   <p:spacer width="300" height="10" />  </p:commandLink>
										<h:graphicImage url="/resources/images/privAccount_small.jpg" width="20" height="20"/>
										<p:commandLink>Advance Search Accounts  <p:spacer width="200" height="10" /></p:commandLink>
										<h:graphicImage url="/resources/images/policy_small.png" width="20" height="20"/>
										<p:commandLink action="#{adminBean.createAccountPolicyComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel">Create Account Policies</p:commandLink>
										<h:graphicImage url="/resources/images/policy_small.png" width="20" height="20"/>
										<p:commandLink>Advance Search Account Policies</p:commandLink>
									</p:panelGrid>  
								</p:panelGrid>  
							</h:form>
						</p:tab>  
					</p:tabView>
				</f:subview>
			</p:outputPanel>
		</ui:composition>
	</h:body>
</html>