<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	>

	<h:body>
		<ui:composition>
			<h:form id="searchLeftPaneForm">  
				<p:outputPanel rendered="true" id="adminLeftPane">
  <p:panelMenu style="width:300px">
        <p:submenu label="Serf Service">
            <p:menuitem value="Profile" actionListener="#{menuView.save}" icon="ui-icon-disk" />

            
            
			<p:submenu label="Work Items" icon="ui-menuitem-org">
                    <p:menuitem value="Raise Request" actionListener="#{adminBean.createSchedulerJob}" icon="menu_create" />
                    <p:menuitem value="Track Request" actionListener="#{adminBean.searchSchedulerJob}" icon="menu_search" />
                    <p:menuitem value="My Request" actionListener="#{adminBean.searchSchedulerJob}" icon="menu_search" />
                    <p:menuitem value="My Work Items" actionListener="#{adminBean.searchSchedulerJob}" icon="menu_search" />
                    <p:menuitem value="My Gorup Work Items" actionListener="#{adminBean.searchSchedulerJob}" icon="menu_search" />
                    <p:menuitem value="All Items" actionListener="#{adminBean.searchSchedulerJob}" icon="menu_search" />
             </p:submenu>
            
            
            
        </p:submenu>
        <p:submenu label="Compliance">
            <p:menuitem value="Certification" actionListener="#{menuView.delete}"  ajax="false" icon="ui-icon-close"/>
            <p:menuitem value="Audit" actionListener="#{menuView.delete}"  ajax="false" icon="ui-icon-close"/>
        </p:submenu>
        <p:separator />
        <p:submenu label="Identity" >
             <p:submenu label="User" icon="menu_user">
                    <p:menuitem value="Create" actionListener="#{adminBean.createUser}" icon="menu_create" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchUser}" icon="menu_search" />
             </p:submenu>

             <p:submenu label="Role" icon="menu_role">
                    <p:menuitem value="Create" actionListener="#{adminBean.createRole}" icon="menu_create" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchRole}" icon="menu_search" />
             </p:submenu>
             
             <p:submenu label="Organiation" icon="menu_org">
                    <p:menuitem value="Create" actionListener="#{adminBean.createOrg}" icon="menu_create" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchOrg}" icon="menu_search" />
             </p:submenu>
             
                        
             
             
             
             <p:menuitem value="Password Policy" url="http://www.primefaces.org" icon="ui-menuitem-org" />
             
         </p:submenu>
        <p:submenu label="Administration" >

    			<p:submenu label="Scheduler" icon="ui-menuitem-org">
                    <p:menuitem value="Create Job" actionListener="#{adminBean.createSchedulerJob}" icon="menu_create" />
                    <p:menuitem value="Search Job" actionListener="#{adminBean.searchSchedulerJob}" icon="menu_search" />
             </p:submenu>
             
             <p:submenu label="Aggregation Engine" icon="ui-icon-heart">
                    <p:menuitem value="Aggregation Events" url="http://www.primefaces.org/documentation" icon="ui-icon-document" />
             </p:submenu>

              
			<p:submenu label="Application" icon="ui-menuitem-org">
                    <p:menuitem value="Create Application" actionListener="#{adminBean.createApplication}" icon="fa fa-plus" />
                    <p:menuitem value="Search Application" actionListener="#{adminBean.searchApplications}" icon="ui-icon-document" />
                    <p:menuitem value="Create Application Profile" actionListener="#{adminBean.createApplicationProfile}" icon="fa fa-plus" />
                    <p:menuitem value="Search Application Profile" actionListener="#{adminBean.searchApplicationProfile}" icon="ui-icon-document" />
                    <p:menuitem value="Create Access Profile" actionListener="#{adminBean.createAccessProfile}" icon="fa fa-plus" />
                    <p:menuitem value="Search Access Profile" actionListener="#{adminBean.searchAccessProfile}" icon="ui-icon-document" />
                    
                    <p:menuitem value="Create Access Policies" actionListener="#{adminBean.createAccessPolicies}" icon="fa fa-plus" />
                    <p:menuitem value="Search Access Policies" actionListener="#{adminBean.searchAccessPolicies}" icon="ui-icon-document" />
                    
                    
             </p:submenu>


             <p:submenu label="Identity Administration" icon="ui-menuitem-org">
                    <p:menuitem value="Create User Attributes" actionListener="#{adminBean.createUserAttributes}" icon="ui-icon-document" />
                    <p:menuitem value="View User Attributes" actionListener="#{adminBean.userAttributesAdministration}" icon="ui-icon-document" />
             </p:submenu>

             <p:submenu label="Application Access Policies" icon="ui-menuitem-org">
             </p:submenu>

             <p:submenu label="Role Membership Policies" icon="ui-menuitem-org">
                    <p:menuitem value="Create" actionListener="#{adminBean.createRoleMembershipRule}" icon="fa fa-plus" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchRoleMembershipRule}" icon="ui-icon-document" />
             </p:submenu>

			<p:submenu label="Email Templates" icon="ui-menuitem-org">
                    <p:menuitem value="Create" actionListener="#{adminBean.createEmailTemplate}" icon="fa fa-plus" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchEmailTemplate}" icon="menu_search" />
             </p:submenu>
             
             <p:submenu label="System Properties" icon="ui-menuitem-org">
                    <p:menuitem value="Create" actionListener="#{adminBean.createSystemProperties}" icon="menu_create" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchSystemProperties}" icon="menu_search" />
             </p:submenu>

             <p:submenu label="Workflows" icon="ui-menuitem-org">
                    <p:menuitem value="Create" actionListener="#{adminBean.createWorkflows}" icon="menu_create" />
                    <p:menuitem value="Search" actionListener="#{adminBean.searchWorkflows}" icon="menu_search" />
             </p:submenu>
             
         </p:submenu>
    </p:panelMenu>    
 				</p:outputPanel>
 			</h:form>
 		</ui:composition>
	</h:body>
</html>