<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="SystemPropertyForm">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="Name: *" />
					<p:inputText value="" required="true" label="Application Name" size="60" />

					<h:outputText value="Value: *" />
					<p:inputText value="" required="true" label="Application Name" size="60" />

 
					<h:outputText value="Description: *" />
					<p:inputTextarea rows="6" cols="40" autoResize="false" value="" />

  				</h:panelGrid>
  				 
 				
 				    <p:commandButton value="Submit" icon="ui-icon-disk" />
				    <p:commandButton value="Clear" type="button"  icon="ui-icon-close" />
 				
		</h:form>

	</ui:composition>

</h:body>

</html>