<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="SchedulerForm">

			<p:fieldset legend="Job Details" toggleable="true" toggleSpeed="500">
				<p:messages />
				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="Name: *" />
					<p:inputText value="" required="true" label="Application Name" />

					<h:outputText value="Class Name: *" />
					<p:inputText value="" required="true" label="Display Name" />

					<h:outputText value="Description: " />
					<p:inputTextarea rows="6" cols="33" autoResize="false" value="" />


				</h:panelGrid>

			</p:fieldset>
			<p:fieldset legend="Trigger" toggleable="true" toggleSpeed="500">

				<p:selectOneRadio value="#{schedulerBean.job.jobType}"
					style="width:40%">
					<f:selectItem itemLabel="Simple Trigger" itemValue="1" />
					<f:selectItem itemLabel="Cron Trigger" itemValue="2" />
					<p:ajax update="@form" />
				</p:selectOneRadio>

				<h:panelGrid columns="3" columnClasses="label, value"
					rendered="#{schedulerBean.job.jobType eq 1}">
					<h:outputText value="Start Date" size="60" />
					<p:calendar id="startdatetime" value=""
						pattern="MM/dd/yyyy HH:mm:ss" />
					<h:outputText value="&#160;" />

					<h:outputText value="End Date" size="60" />
					<p:calendar id="enddatetime" value="" pattern="MM/dd/yyyy HH:mm:ss" />
					<h:outputText value="&#160;" />

					<h:outputText value="Last Run Date" size="60" />
					<p:calendar id="lastdatetime" value=""
						pattern="MM/dd/yyyy HH:mm:ss" />
					<h:outputText value="&#160;" />

					<h:outputText value="Repeat Interval" size="40" />
					<p:inputText value="" required="true" label="Display Name" />
					<p:selectOneMenu value="" style="width:125px">
						<f:selectItem itemLabel="minutes" itemValue="Xbox One" />
						<f:selectItem itemLabel="hours" itemValue="PS4" />
						<f:selectItem itemLabel="days" itemValue="Wii U" />
					</p:selectOneMenu>
				</h:panelGrid>


				<h:panelGrid columns="2" columnClasses="label, value"
					rendered="#{schedulerBean.job.jobType eq 2}">
					<h:outputText value="Cron Expression" size="80" />
					<p:inputText value="" required="true" label="Display Name"
						size="80" />
				</h:panelGrid>

			</p:fieldset>
			<p:fieldset legend="Parameters" toggleable="true" toggleSpeed="500">

				<h:panelGrid columns="4" columnClasses="label, value">
					<h:outputText value="Add Job Parameter" size="40" />
					<p:commandButton id="withIcon" icon="add"
						actionListener="${schedulerBean.addJobParameter()}"
						process="@this" update="@form" />
					<h:outputText value="&#160;" />
					<h:outputText value="&#160;" />
				</h:panelGrid>


				<p:dataTable id="jobParam" widgetVar="jobParam" var="jobParam"
					value="#{schedulerBean.job.jobParams}" editable="true"
					style="margin-bottom:20px">

					<p:column headerText="Parameter Name">
						<p:inputText id="pName" value="#{jobParam.name}"
							style="width:100%">
							<p:ajax event="blur" listener="${schedulerBean.updateValue()}" />
						</p:inputText>
					</p:column>

					<p:column headerText="Parameter Value">
						<p:inputText value="#{jobParam.value}" style="width:100%">
							<p:ajax event="blur" listener="${schedulerBean.updateValue()}" />
						</p:inputText>
					</p:column>

					<p:column width="40">
						<p:commandLink id="ajax" update="@form" process="@this"
							actionListener="#{schedulerBean.removeJobParameter(jobParam)}">
							<h:outputText value="Remove" />
						</p:commandLink>
					</p:column>

				</p:dataTable>




			</p:fieldset>
			
			
			<p:fieldset legend="Advance Option" toggleable="true" toggleSpeed="500">
			
				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="Misfire Action" />
					<p:selectOneMenu value="" style="width:125px">
						<f:selectItem itemLabel="Execute Immediately" itemValue="Xbox One" />
						<f:selectItem itemLabel="Reschedule" itemValue="PS4" />
						<f:selectItem itemLabel="Skip" itemValue="PS4" />
					</p:selectOneMenu>


				</h:panelGrid>
			
			
			</p:fieldset>
									<p:commandButton value="Submit"
							actionListener="#{schedulerBean.save}"
							process="@this" />
			
		</h:form>

	</ui:composition>

</h:body>

</html>