<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition>
		<h:form id="CreateApplicationProfileForm">

			<p:growl id="growl" sticky="true" showDetail="true" />

			<p:wizard widgetVar="AppWizard"
				flowListener="#{applicationProfileWizardBean.onFlowProcess}">
				<p:tab id="basicInfo" title="Basic Details">
					<p:panel header="Basic Details">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Profile Name: *" />
							<p:inputText value="#{applicationProfileWizardBean.name}"
								required="true" label="Application Name" size="40" />

							<h:outputText value="Display Name: *" />
							<p:inputText value="#{applicationProfileWizardBean.displayName}"
								required="true" label="Display Name" size="40" />

							<h:outputText value="Description: " />
							<p:inputTextarea rows="6" cols="33" autoResize="false"
								value="#{applicationProfileWizardBean.description}" />

							<p:outputLabel for="appType" value="Application: " />
							<p:selectOneMenu id="appType" required="true"
								value="#{applicationProfileWizardBean.application}">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItems
									value="#{applicationProfileWizardBean.applicationList}" />
							</p:selectOneMenu>

						</h:panelGrid>
					</p:panel>
				</p:tab>
				<p:tab id="roles" title="Roles">
					<p:panel header="Select Roles">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">


						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab id="ent" title="Entitlements">
					<p:panel header="Select Entitlement">
						<p:messages />
						<h:panelGrid columns="1" columnClasses="label, value">

 

							<p:dataTable id="entTable" var="ent"
								value="#{applicationProfileWizardBean.entitlements}"
								selection="#{applicationProfileWizardBean.selectedEntitlements}" rowKey="#{ent.id}"
								scrollRows="20" scrollable="true" virtualScroll="true" scrollHeight="200" lazy="true" rows="40" 
								
								emptyMessage="No entitlements found with given criteria" filteredValue="#{applicationProfileWizardBean.entitlements}"
								
								style="margin-bottom:0">
 								<f:facet name="header">
            						Checkbox
        						</f:facet>
								<p:column selectionMode="multiple" 
									style="width:16px;text-align:center" />
 								<p:column headerText="Name">
									<h:outputText value="#{ent.name}" />
								</p:column>
								<p:column headerText="Display Name">
									<h:outputText value="#{ent.displayName}" />
								</p:column>
								<p:column headerText="Value">
									<h:outputText value="#{ent.value}" />
								</p:column>

							</p:dataTable>

						</h:panelGrid>
					</p:panel>
				</p:tab>
				<p:tab id="apSummary" title="Summary">
					<p:panel header="Application Profile Summary">
						<p:messages />
						<p:fieldset legend="Basic Info" style="margin-bottom:20px">

							<h:panelGrid columns="2" columnClasses="label, value">

								<h:outputText value="Name: " />
								<h:outputText value="#{applicationProfileWizardBean.name}"
									styleClass="outputLabel" />

								<h:outputText value="Display Name: " />
								<h:outputText
									value="#{applicationProfileWizardBean.displayName}"
									styleClass="outputLabel" />

								<h:outputText value="Description: " />
								<h:outputText
									value="#{applicationProfileWizardBean.description}"
									styleClass="outputLabel" />

								<h:outputText value="Application :  " />
								<h:outputText
									value="#{applicationProfileWizardBean.application}"
									styleClass="outputLabel" />

							</h:panelGrid>
							
							<p:commandLink id="ajax1" oncomplete="PF('AppWizard').loadStep('basicInfo', false)">
								<h:outputText value="Edit" />
							</p:commandLink>
							

						</p:fieldset>
						<p:fieldset legend="Roles" style="margin-bottom:20px">

							<p:commandLink id="ajax2" oncomplete="PF('AppWizard').loadStep('roles', false)">
								<h:outputText value="Edit" />
							</p:commandLink>
							

						</p:fieldset>
						<p:fieldset legend="Entitlements" style="margin-bottom:20px">

							<h:panelGrid columns="2" columnClasses="label, value">

							<p:dataTable id="entTableSummay" var="ent"
								value="#{applicationProfileWizardBean.selectedEntitlements}"
								rowKey="#{ent.id}"
								scrollRows="20" scrollable="true" virtualScroll="true" scrollHeight="200" lazy="true" rows="40" 								
								style="margin-bottom:0">
 								<f:facet name="header">
            						Checkbox
        						</f:facet>
 								<p:column headerText="Name">
									<h:outputText value="#{ent.name}" />
								</p:column>
								<p:column headerText="Display Name">
									<h:outputText value="#{ent.displayName}" />
								</p:column>
								<p:column headerText="Value">
									<h:outputText value="#{ent.value}" />
								</p:column>

							</p:dataTable>

 
							</h:panelGrid>
							
							<p:commandLink id="ajax3" oncomplete="PF('AppWizard').loadStep('ent', false)">
								<h:outputText value="Edit" />
							</p:commandLink>
							

						</p:fieldset>
						
												<p:commandButton value="Submit"
							actionListener="#{applicationProfileWizardBean.save}" update="growl"
							process="@this" />
						
					</p:panel>
				</p:tab>
			</p:wizard>

		</h:form>

	</ui:composition>

</h:body>

</html>