<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="ApplicationForm">

			<p:growl id="growl" sticky="true" showDetail="true" />

			<p:wizard widgetVar="AppWizard" flowListener="#{applicationWizardBean.onFlowProcess}">
				<p:tab id="basicInfo" title="Application">
					<p:panel header="Application Details">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Application Name: *" />
							<p:inputText value="#{applicationWizardBean.application.name}"
								required="true" label="Application Name" />

							<h:outputText value="Display Name: *" />
							<p:inputText
								value="#{applicationWizardBean.application.displayName}"
								required="true" label="Display Name" />

							<h:outputText value="Description: " />
							<p:inputTextarea rows="6" cols="33" autoResize="false"
								value="#{applicationWizardBean.application.description}" />

							<p:outputLabel for="appType" value="Application Type: " />
							<p:selectOneMenu id="appType" required="true"
								value="#{applicationWizardBean.application.configuratorType}">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItems value="#{applicationWizardBean.appTypes}" />
							</p:selectOneMenu>
							<p:outputLabel for="@next" value="Trusted : " />
							<p:selectBooleanCheckbox
								value="#{applicationWizardBean.application.trusted}" />

						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab id="configurator" title="Configuration">
					<p:panel header="Application Configuration">
						<p:messages />
						
 						
						<h:panelGrid columns="2" columnClasses="label, value">
 
							<p:repeat
								value="#{applicationWizardBean.selectedApplicationType.appTypeParams}"
								var="param1">
								<h:panelGrid columns="2" columnClasses="label, value">

									<h:outputText value="#{param1.label} : " />
									<p:inputText value="#{param1.value}" size="40"
										readonly="#{!param1.editable}" disabled="#{!param1.editable}">
																		<p:ajax event="blur"
									listener="${applicationWizardBean.updateValue()}" />
										</p:inputText>

								</h:panelGrid>
							</p:repeat>
						</h:panelGrid>

					</p:panel>
				</p:tab>

				<p:tab id="profile" title="Profile">
					<p:panel header="Profile Definition">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Profile Name: *" />
							<p:inputText
								value="#{applicationWizardBean.application.profile.name}"
								required="true" label="Profile Name" />
						</h:panelGrid>

						<h:panelGrid columns="2" columnClasses="label, value">

						</h:panelGrid>

						<h:panelGrid columns="4" columnClasses="label, value">
							<h:outputText value="Add Attribute" size="40" />
							<p:commandButton id="withIcon" icon="add"
								actionListener="${applicationWizardBean.addProfileAttributeRow()}"
								process="@this"
								update="adminTabPanelView:adminTabPanel:ApplicationForm:profileAttr2" />
							<h:outputText value="&#160;" />
							<h:outputText value="&#160;" />
						</h:panelGrid>


						<p:dataTable id="profileAttr2" widgetVar="profileAttr2"
							var="profileAttr" value="#{applicationWizardBean.profileAttrs}"
							editable="true" style="margin-bottom:20px">

							<p:column headerText="IDX Attribute">
								<p:inputText id="pName" value="#{profileAttr.name}"
									style="width:100%">
									<p:ajax event="blur"
										listener="${applicationWizardBean.updateProfileAttributeIDXName(profileAttrs)}" />
								</p:inputText>
							</p:column>

							<p:column headerText="Target Attribute">
								<p:inputText value="#{profileAttr.targetAttrName}"
									style="width:100%">
									<p:ajax event="blur"
										listener="${applicationWizardBean.updateProfileAttributeTargetName(profileAttrs)}" />
								</p:inputText>
							</p:column>

							<p:column width="40">
								<p:commandLink id="ajax"
									update="adminTabPanelView:adminTabPanel:ApplicationForm:profileAttr2"
									process="@this"
									actionListener="#{applicationWizardBean.removeProfileAttributeRow(profileAttr)}">
									<h:outputText value="Remove" />
								</p:commandLink>
							</p:column>

						</p:dataTable>

					</p:panel>
				</p:tab>

				<p:tab id="rule" title="Rule">
					<p:panel header="Matching Rule">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">

							<p:outputLabel for="idxAttribute" value="IDX Attribute:" />
							<p:selectOneMenu id="idxAttribute"
								value="#{applicationWizardBean.matchingRule.idxAttribute}"
								style="width:125px">
								<f:selectItem itemLabel="Select One" itemValue="" />

								<f:selectItems value="#{applicationWizardBean.idxAttributes}" />
								<p:ajax event="blur"
									listener="${applicationWizardBean.updateValue()}" />

							</p:selectOneMenu>


							<p:outputLabel for="condition" value="Condition:" />
							<p:selectOneMenu id="condition"
								value="#{applicationWizardBean.matchingRule.matchingCondition}"
								style="width:125px">
								<f:selectItem itemLabel="Select One" itemValue="" />

								<f:selectItems
									value="#{applicationWizardBean.matchingCondition}" />
								<p:ajax event="blur"
									listener="${applicationWizardBean.updateValue()}" />

							</p:selectOneMenu>

							<p:outputLabel for="targetAttribute" value="Target Attribute:" />
							<p:selectOneMenu id="targetAttribute"
								value="#{applicationWizardBean.matchingRule.tgtAttribute}"
								style="width:125px">
								<f:selectItem itemLabel="Select One" itemValue="" />

								<f:selectItems value="#{applicationWizardBean.targetAttributes}" />
								<p:ajax event="blur"
									listener="${applicationWizardBean.updateValue()}" />

							</p:selectOneMenu>

						</h:panelGrid>

					</p:panel>
					<p:panel header="Action Rule">
						<p:messages />

						<h:panelGrid columns="3" columnClasses="label, value">

							<h:outputText value="Add Action" size="40" />
							<p:commandButton id="addMatchingAction" icon="add"
								actionListener="${applicationWizardBean.addMatchingActionRow()}"
								process="@this" update="@form" />
							<h:outputText value="&#160;" />


							<p:dataTable id="matchingAction" widgetVar="matchingAction"
								var="matchingAction"
								value="#{applicationWizardBean.matchingActions}" editable="true"
								style="margin-bottom:20px">

								<p:column headerText="Condition">


									<p:selectOneMenu id="mathcingActCondition"
										value="#{matchingAction.aggCondition}" style="width:125px">
										<f:selectItem itemLabel="Select One" itemValue="" />

										<f:selectItems
											value="#{applicationWizardBean.matchingActionCondition}" />
										<p:ajax event="blur"
											listener="${applicationWizardBean.updateValue()}" />

									</p:selectOneMenu>


								</p:column>

								<p:column headerText="Action">

									<p:selectOneMenu id="mathcingActAction"
										value="#{matchingAction.aggAction}" style="width:125px">
										<f:selectItem itemLabel="Select One" itemValue="" />

										<f:selectItems
											value="#{applicationWizardBean.matchingActionList}" />
										<p:ajax event="blur"
											listener="${applicationWizardBean.updateValue()}" />

									</p:selectOneMenu>

								</p:column>

								<p:column width="40">
									<p:commandLink id="ajax" update="@form" process="@this"
										actionListener="#{applicationWizardBean.removeMatchingActionRow(matchingAction)}">
										<h:outputText value="Remove" />
									</p:commandLink>
								</p:column>

							</p:dataTable>



						</h:panelGrid>

					</p:panel>
				</p:tab>


				<p:tab id="confirm" title="Confirmation">
					<p:panel header="Confirmation">

						<p:fieldset legend="Application" style="margin-bottom:20px">

							<h:panelGrid columns="2" columnClasses="label, value">

								<h:outputText value="Name: " />
								<h:outputText value="#{applicationWizardBean.application.name}"
									styleClass="outputLabel" />

								<h:outputText value="Display Name: " />
								<h:outputText
									value="#{applicationWizardBean.application.displayName}"
									styleClass="outputLabel" />

								<h:outputText value="Description: " />
								<h:outputText
									value="#{applicationWizardBean.application.description}"
									styleClass="outputLabel" />

								<h:outputText value="Trusted: " />
								<h:outputText
									value="#{applicationWizardBean.application.trusted}"
									styleClass="outputLabel" />

							</h:panelGrid>
							
							<p:commandLink id="ajax1" oncomplete="PF('AppWizard').loadStep('basicInfo', false)">
								<h:outputText value="Edit" />
							</p:commandLink>
							

						</p:fieldset>


						<p:fieldset legend="Configuration" style="margin-bottom:20px">

							<h:panelGrid columns="2" columnClasses="label, value">
							
							
															<p:dataTable widgetVar="profileAttr21" var="configParam"
									value="#{applicationWizardBean.selectedApplicationType.appTypeParams}" editable="true"
									style="margin-bottom:20px">

									<p:column headerText="Name">
										<p:outputLabel id="cName" value="#{configParam.label}"
											style="width:100%" />
									</p:column>
									<p:column headerText="Value">
										<p:outputLabel id="cValue" value="#{configParam.value}"
											style="width:100%" />
									</p:column>
							</p:dataTable>

							</h:panelGrid>
							<p:commandLink id="ajax2" oncomplete="PF('AppWizard').loadStep('configurator', false)">
								<h:outputText value="Edit" />
							</p:commandLink>

						</p:fieldset>

						<p:fieldset legend="Profile" style="margin-bottom:20px">

							<h:panelGrid columns="2" columnClasses="label, value">
								<h:outputText value="Profile Name: *" />
								<h:outputText
									value="#{applicationWizardBean.application.profile.name}" />
							</h:panelGrid>


							<h:panelGrid>


								<p:dataTable widgetVar="profileAttr21" var="profileAttr1"
									value="#{applicationWizardBean.profileAttrs}" editable="true"
									style="margin-bottom:20px">

									<p:column headerText="IDX Attribute">
										<p:outputLabel id="pName" value="#{profileAttr1.name}"
											style="width:100%" />
									</p:column>

									<p:column headerText="Target Attribute">
										<p:outputLabel value="#{profileAttr1.targetAttrName}"
											style="width:100%" />
									</p:column>



								</p:dataTable>

							</h:panelGrid>

<p:commandLink id="ajax3" oncomplete="PF('AppWizard').loadStep('profile', false)">
								<h:outputText value="Edit" />
							</p:commandLink>
							

						</p:fieldset>

						<p:fieldset legend="Rule" style="margin-bottom:20px">


							<p:panel header="Matching Rule">
								<p:messages />
								<h:panelGrid columns="2" columnClasses="label, value">

									<p:outputLabel value="IDX Attribute:" />
									<p:outputLabel value="#{applicationWizardBean.matchingRule.idxAttribute}" />

									<p:outputLabel value="Condition:" />
									<p:outputLabel value="#{applicationWizardBean.matchingRule.matchingCondition}" />

									<p:outputLabel value="Target Attribute:" />
									<p:outputLabel value="#{applicationWizardBean.matchingRule.tgtAttribute}" />

								</h:panelGrid>

							</p:panel>
							<p:panel header="Action Rule">
								<p:messages />

								<h:panelGrid columns="3" columnClasses="label, value">

									<p:dataTable id="matchingAction1" widgetVar="matchingAction"
										var="matchingAction"
										value="#{applicationWizardBean.matchingActions}"
										editable="true" style="margin-bottom:20px">

										<p:column headerText="Condition">

									<p:outputLabel value="#{matchingAction.aggCondition}" />

										</p:column>

										<p:column headerText="Action">

									<p:outputLabel value="#{matchingAction.aggAction}" />


										</p:column>

									</p:dataTable>



								</h:panelGrid>

							</p:panel>


							<p:commandLink id="ajax4" oncomplete="PF('AppWizard').loadStep('rule', false)">
								<h:outputText value="Edit" />
							</p:commandLink>







						</p:fieldset>



						<p:commandButton value="Submit"
							actionListener="#{applicationWizardBean.save}" update="growl"
							process="@this" />
					</p:panel>
				</p:tab>
			</p:wizard>

		</h:form>

	</ui:composition>

</h:body>

</html>