<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="CreateUserAttributesForm">


 
			<p:panel header="Create User Attributes">
				<p:messages />
				<h:panelGrid columns="2" columnClasses="label, value">

							<h:outputText value="Name: *" />
							<p:inputText value="#{userAttributesBean.userAttr.name}"
								required="true" label="Application Name" size="40"/>


							<h:outputText value="Display Name: *" />
							<p:inputText value="#{userAttributesBean.userAttr.displayName}"
								required="true" label="Application Name" size="40"/>


							<h:outputText value="Type: *" />
								
							<p:selectOneMenu required="true"
								value="#{userAttributesBean.userAttr.userAttrType}">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItems value="#{userAttributesBean.userAttrTypes}" />
							</p:selectOneMenu>
								

							<h:outputText value="Display Length: *" />
							<p:inputText value="#{userAttributesBean.userAttr.displayLength} "
								required="true" label="Application Name" size="5"/>

							<h:outputText value="Column Length: *" />
							<p:inputText value="#{userAttributesBean.userAttr.columnLength} "
								required="true" label="Application Name" size="5"/>


							<h:outputText value="Category: *" />
							<p:inputText value="#{userAttributesBean.userAttr.category} "
								required="true" label="Application Name" size="40"/>


 
				</h:panelGrid>
				
										<p:commandButton value="Create"
							actionListener="#{userAttributesBean.createUserAttributes}" process="@this" />
				
				
			</p:panel>

 		</h:form>

	</ui:composition>

</h:body>

</html>