<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:idx="http://java.sun.com/jsf/composite/idx">

<h:body>

	<ui:composition>
		<h:form id="UserForm">

			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

			<p:panelGrid columns="1" cellpadding="10">

				<f:facet name="header">  
        			Create User
				</f:facet>

				<p:fieldset legend="Basic Information" style="margin-bottom:20px">

					<h:panelGrid columns="4" cellpadding="5">


						<p:outputLabel for="firstName" value="First Name " />
						<p:inputText id="firstName" required="true" value="#{userVO.firstName}">
							<f:validateLength minimum="2" />
						</p:inputText>
						<h:outputText value="Middle Name " />
						<p:inputText value="#{userVO.middleName}" />
						<p:outputLabel for="lastName" value="Last Name " />
						<p:inputText id="lastName" required="true" value="#{userVO.lastName}">
						<f:validateLength minimum="2" />
						</p:inputText>

						<p:outputLabel for="displayName" value="Display Name " />
						<p:inputText id="displayName" required="true" value="#{userVO.displayName}" />

						<p:outputLabel for="userType" value="User Type" />
						<p:selectOneMenu id="userType" required="true" value="userVO.userType"
							style="width:125px">
							<f:selectItem itemLabel="Select User Type" itemValue="" />
							<f:selectItem itemLabel="Employee" itemValue="Employee" />
							<f:selectItem itemLabel="Contractor" itemValue="Contractor" />
							<f:selectItem itemLabel="Temp Worker" itemValue="Temp Worker" />
						</p:selectOneMenu>

						<p:outputLabel for="org" value="Organization" />
 						<p:selectOneMenu id="org" required="true" value="userVO.org_key" style="width:125px">
							<f:selectItem itemLabel="Select Organization" itemValue="" />
							<f:selectItem itemLabel="Base" itemValue="Base" />
						</p:selectOneMenu>

						<h:outputText value="Email" />
						<p:inputText value="#{userVO.email}" />

					</h:panelGrid>
				</p:fieldset>

				<p:fieldset legend="Account Information" style="margin-bottom:20px">
				
									<h:panelGrid columns="4" cellpadding="5">
				
					<h:outputText value="User Name " />
					<p:inputText value="#{userVO.userName}" />
					
									<h:inputHidden></h:inputHidden>
									<h:inputHidden></h:inputHidden>
					
					
					<h:outputText value="Password " />
					<p:password id="Password" value="#{userVO.password}" />

					<h:outputText value="Confirm Password " />
					<p:password id="ConfirmPassword" value="#{userVO.password}"/>

					<h:outputText value="Start Date " />
					<p:calendar id="startDate" value="#{userVO.startDate}"
						showOn="button" />

					<h:outputText value="End Date " />
					<p:calendar id="endDate" value="#{userVO.endDate}"
						showOn="button" />
						
						</h:panelGrid>

				</p:fieldset>

				<p:fieldset legend="Contact Information" style="margin-bottom:20px">
				
									<h:panelGrid columns="4" cellpadding="5">
				
					<h:outputText value="Phone Number " />
					<p:inputText value="#{userVO.phoneNumber}" />
					
					<h:outputText value="Mobile Number " />
					
					
					<p:inputText value="#{userVO.mobileNumber}" />
					
														 
					
					
					<h:outputText value="Postal Address 1" />
					
					
					<p:inputText value="#{userVO.postalAddress1}" colspan="2"/>
					
					
					
					

					<h:outputText value="Postal Address 2" />

					<p:inputText value="#{userVO.postalAddress2}"/>

 					


					<h:outputText value="Postal Code" />
					
					
					<p:inputText value="#{userVO.postalCode}" />

					<h:outputText value="City" />

					<p:inputText value="#{userVO.city}" />

					<h:outputText value="State" />
					
					<p:inputText value="#{userVO.state}" />

					<h:outputText value="Country" />
					<p:inputText value="#{userVO.country}" />
						</h:panelGrid>

				</p:fieldset>



				<f:facet name="footer">
					<p:commandButton value="Submit" ajax="true"
						action="#{identityBean.createUser(userVO)}">
					</p:commandButton>
					<p:commandButton value="Clear" ajax="false" />
				</f:facet>
			</p:panelGrid>
		</h:form>

	</ui:composition>

</h:body>

</html>