<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="UserForm">

			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

			<p:panelGrid columns="1" cellpadding="10"
				>

				<f:facet name="header">  
        			Create Role
				</f:facet>

				<p:fieldset legend="Basic Information" style="margin-bottom:20px">

					<h:panelGrid columns="2" cellpadding="5">


						<p:outputLabel for="name" value="Name " />
						<p:inputText id="name" required="true" value="#{RoleVO.firstName}">
							<f:validateLength minimum="2" />
						</p:inputText>
						
 						
						<p:outputLabel for="description" value="Description " />
						<p:inputTextarea rows="6" cols="33" />
						<p:inputText id="description" required="true" value="#{roleVO.lastName}">
						<f:validateLength minimum="2" />
						</p:inputText>

 
						<p:outputLabel for="parentRole" value="Parent Role" />
						<p:selectOneMenu id="parentRole" required="true" value="userVO.userType"
							style="width:125px">
							<f:selectItem itemLabel="Select Parent Role" itemValue="" />
						</p:selectOneMenu>

						<p:outputLabel for="parentRole" value="Parent Role" />
						<p:selectOneMenu id="parentRole" required="true" value="userVO.userType"
							style="width:125px">
							<f:selectItem itemLabel="Select Parent Role" itemValue="" />
						</p:selectOneMenu>

 

					</h:panelGrid>
				</p:fieldset>

 

				<f:facet name="footer">
					<p:commandButton value="Submit" ajax="true"
						action="#{identityBean.createRole(roleVO)}">
					</p:commandButton>
					<p:commandButton value="Clear" ajax="false" />
				</f:facet>
			</p:panelGrid>
		</h:form>

	</ui:composition>

</h:body>

</html>