<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>

	<ui:composition>
		<h:form id="AccessPoliciesForm">

			<p:growl id="growl" sticky="true" showDetail="true" />

			<p:wizard widgetVar="AppWizard"
				flowListener="#{APWizardBean.onFlowProcess}">
				<p:tab id="basicInfo" title="Basic Information">
					<p:panel header="Basic Info">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Name: *" />
							<h:inputText value="#{APWizardBean.name}" required="true"
								label="Name" />


							<h:outputText value="Description: *" />
							<p:inputTextarea rows="6" cols="33" autoResize="true"
								required="true" value="#{APWizardBean.description}" />

							<p:outputLabel for="policyType" value="Policy Type: " />
							<p:selectOneMenu id="policyType" required="true"
								value="#{APWizardBean.apType}"
								onchange="APWizardBean.onSelectPolicyType">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItem itemLabel="Role Based" itemValue="role" />
								<f:selectItem itemLabel="User Attribute based" itemValue="user" />
								<f:selectItem itemLabel="Org Based" itemValue="org" />
							</p:selectOneMenu>

							<p:outputLabel  value="With Approval: " />
							<p:selectBooleanCheckbox
								value="#{APWizardBean.withApproval}" />

						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab id="definition" title="Condition">
					<p:panel header="Condition">
						<p:panel id="userAttPanel" rendered="#{APWizardBean.userBased}">
							<p:messages />
							<h:panelGrid columns="1" columnClasses="label, value">

								<h:outputText value="Add User Attribute Condition" />
								<p:commandButton id="addUserAttCondition" icon="fa fa-plus"
									actionListener="${APWizardBean.addUserAttributeCondition()}"
									process="@this" update="@form" />


								<p:dataTable id="addUserAttConditionTable"
									widgetVar="userAttCondition" var="userAttCondition"
									value="#{APWizardBean.userAttConditions}" editable="true"
									style="margin-bottom:20px" rowIndexVar="index">

									<p:column headerText="">


										<p:selectOneMenu id="userCondition"
											value="#{userAttCondition.uaCondition}" style="width:125px"
											rendered="#{index gt 0}">

											<f:selectItems value="#{APWizardBean.andOrRuleConditions}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />

										</p:selectOneMenu>


									</p:column>

									<p:column headerText="User Attribute">

										<p:selectOneMenu id="userAtt"
											value="#{userAttCondition.userAttribute}" style="width:125px">
											<f:selectItem itemLabel="Select One" itemValue="" />

											<f:selectItems value="#{APWizardBean.userAttributeList}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />

										</p:selectOneMenu>

									</p:column>

									<p:column headerText="Condition">

										<p:selectOneMenu id="userAttCondition"
											value="#{userAttCondition.ruleCondition}" style="width:125px">
											<f:selectItem itemLabel="Select One" itemValue="" />

											<f:selectItems value="#{APWizardBean.userAttRuleConditions}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />

										</p:selectOneMenu>

									</p:column>

									<p:column headerText="Value">

										<h:inputText value="#{userAttCondition.userAttributeValue}"
											required="true" label="Name">
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />
										</h:inputText>


									</p:column>

									<p:column width="40">
										<p:commandLink id="ajax" update="@form" process="@this"
											actionListener="#{APWizardBean.removeUserAttConditionRow(userAttCondition)}">
											<h:outputText value="Remove" />
										</p:commandLink>
									</p:column>

								</p:dataTable>

							</h:panelGrid>

						</p:panel>
						<p:panel id="rolePanel" rendered="#{APWizardBean.roleBased}">
							<p:messages />
							<h:panelGrid columns="1" columnClasses="label, value">

								<p:pickList id="pickList" value="#{APWizardBean.roles}"
									var="roles" itemLabel="#{roles}" itemValue="#{roles}">
									<p:ajax event="select" listener="${APWizardBean.updateValue()}" />
									<p:ajax event="unselect" listener="${APWizardBean.updateValue()}" />
									<p:ajax event="transfer" listener="${APWizardBean.updateValue()}" />
								</p:pickList>

							</h:panelGrid>

						</p:panel>
						<p:panel id="orgPanel" rendered="#{APWizardBean.orgBased}">
							<p:messages />
							<h:panelGrid columns="1" columnClasses="label, value">

								<h:outputText value="Add Org Attribure Condition" />
								<p:commandButton id="addOrgAttCondition" icon="fa fa-plus"
									actionListener="${APWizardBean.addOrgAttributeCondition()}"
									process="@this" update="@form" />


								<p:dataTable id="addOrgAttConditionTable"
									widgetVar="orgrAttCondition" var="orgAttCondition"
									value="#{APWizardBean.orgAttConditions}" editable="true"
									style="margin-bottom:20px" rowIndexVar="index">

									<p:column headerText="">


										<p:selectOneMenu id="orgCondition"
											value="#{orgAttCondition.uaCondition}" style="width:125px"
											rendered="#{index gt 0}">

											<f:selectItems value="#{APWizardBean.andOrRuleConditions2}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />

										</p:selectOneMenu>


									</p:column>

									<p:column headerText="Org Attribute">

										<p:selectOneMenu id="orgAtt"
											value="#{orgAttCondition.orgAttribute}" style="width:125px">
											<f:selectItem itemLabel="Select One" itemValue="" />

											<f:selectItems value="#{APWizardBean.orgAttributeList}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />

										</p:selectOneMenu>

									</p:column>

									<p:column headerText="Condition">
									
										<p:selectOneMenu id="orgAttCondition"
											value="#{orgAttCondition.ruleCondition}" style="width:125px">
											<f:selectItem itemLabel="Select One" itemValue="" />

											<f:selectItems value="#{APWizardBean.orgAttRuleConditions}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />
										</p:selectOneMenu>

									</p:column>

									<p:column headerText="Value">

										<h:inputText value="#{orgAttCondition.orgAttributeValue}"
											required="true" label="Name">
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />
										</h:inputText>

									</p:column>

									<p:column width="40">
										<p:commandLink id="ajax" update="@form" process="@this"
											actionListener="#{APWizardBean.removeOrgAttConditionRow(orgAttCondition)}">
											<h:outputText value="Remove" />
										</p:commandLink>
									</p:column>

								</p:dataTable>

							</h:panelGrid>

						</p:panel>


					</p:panel>
				</p:tab>
				
								<p:tab id="application" title="Application">
					<p:panel header="Application">

											<p:panel id="applicationPanel">
							<p:messages />
							<h:panelGrid columns="1" columnClasses="label, value">

								<p:pickList id="pickListApp" value="#{APWizardBean.apps}"
									var="apps" itemLabel="#{apps}" itemValue="#{apps}">
									<p:ajax event="select" listener="${APWizardBean.updateValue()}" />
									<p:ajax event="unselect" listener="${APWizardBean.updateValue()}" />
									<p:ajax event="transfer" listener="${APWizardBean.updateValue()}" />
								</p:pickList>

							</h:panelGrid>

						</p:panel>
					
				</p:panel>
				</p:tab>

								<p:tab id="appProfile" title="Profile">
					<p:panel header="Application Profile">

											<p:panel id="appProfilePanel">
							<p:messages />
							<h:panelGrid columns="1" columnClasses="label, value">

								<h:outputText value="" />
								
								<p:selectOneMenu id="orgAttCondition"
											value="#{orgAttCondition.ruleCondition}" style="width:125px">
											<f:selectItem itemLabel="Select One" itemValue="" />

											<f:selectItems value="#{APWizardBean.orgAttRuleConditions}" />
											<p:ajax event="blur" listener="${APWizardBean.updateValue()}" />
								</p:selectOneMenu>
										
								<p:commandButton id="addOrgAttCondition" icon="fa fa-plus"
									actionListener="${APWizardBean.addOrgAttributeCondition()}"
									process="@this" update="@form" />

 
							</h:panelGrid>

						</p:panel>
					
				</p:panel>
				</p:tab>

			</p:wizard>

		</h:form>

	</ui:composition>

</h:body>

</html>