<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="EmailTemplateForm">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

				<h:panelGrid columns="2" columnClasses="label, value">
					<h:outputText value="Name: *" />
					<p:inputText value="" required="true" label="Application Name" />

					<h:outputText value="Language: *" />
					
					<p:selectOneMenu value="" style="width:125px">
						<f:selectItem itemLabel="English (US)" itemValue="en_us" />
						<f:selectItem itemLabel="English" itemValue="en" />
						<f:selectItem itemLabel="French" itemValue="fr" />
					</p:selectOneMenu>

					<h:outputText value="Encoding: *" />
					<p:inputText value="" required="true" label="" />

  				</h:panelGrid>
  				<h:panelGrid>
 
					<h:outputText value="&#160;" />

 				 <p:textEditor widgetVar="editor2" value="" height="300" style="margin-bottom:10px" placeholder="Enter your content">
				</p:textEditor>
 				</h:panelGrid>
 				
 				    <p:commandButton value="Submit" icon="ui-icon-disk" />
				    <p:commandButton value="Clear" type="button"  icon="ui-icon-close" />
 				
		</h:form>

	</ui:composition>

</h:body>

</html>