<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="searchSchedulerForm">

			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

				<p:dataTable id="jobs" var="job" value="#{schedulerBean.jobList}" selectionMode="single" 
				selection="#{schedulerBean.selectedJob}" rowKey="#{job.name}">

					<p:column headerText="Job Name">
						<p:commandLink id="ajax" actionListener="#{adminBean.showSchduledJob(job.name)}">
        				<h:outputText value="#{job.name}" />
    				</p:commandLink>
    				
					</p:column>
					<p:column headerText="Class Name">
						<h:outputText value="#{job.className}" />
					</p:column>
					<p:column headerText="Description">
						<h:outputText value="#{job.description}" />
					</p:column>
					<p:column headerText="Status">
						<h:outputText value="#{job.jobStatus}" />
					</p:column>
				</p:dataTable>

 		</h:form>

	</ui:composition>

</h:body>

</html>