<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="searchUserForm">

			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

			<p:panelGrid columns="1" cellpadding="10"
				styleClass="panelGridBorder">

				<f:facet name="header">  
        			Search User
				</f:facet>

				<p:fieldset legend="Search Criteria" style="margin-bottom:20px">

					<h:panelGrid columns="6" cellpadding="5">


						<p:outputLabel value="Match : " />
						<p:selectOneButton value="#{userSearchCriteria.option}">
							<f:selectItem itemLabel="All" itemValue="All" />
							<f:selectItem itemLabel="Any" itemValue="Any" />
						</p:selectOneButton>
						<h:inputHidden></h:inputHidden>
						<h:inputHidden></h:inputHidden>
						<h:inputHidden></h:inputHidden>
						<h:inputHidden></h:inputHidden>


						<h:outputText value="User Name " />
						<p:selectOneMenu id="uName"
							value="#{userSearchCriteria.uNameCondition}" style="width:125px">
							<f:selectItem itemLabel="Starts With" itemValue="startWith" />
							<f:selectItem itemLabel="Ends With" itemValue="endsWith" />
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Contains" itemValue="contails" />
						</p:selectOneMenu>
						<p:inputText value="#{userSearchCriteria.userName}" />

						<p:outputLabel for="firstName" value="First Name " />
						<p:selectOneMenu id="fName"
							value="#{userSearchCriteria.fNameCondition}" style="width:125px">
							<f:selectItem itemLabel="Starts With" itemValue="startWith" />
							<f:selectItem itemLabel="Ends With" itemValue="endsWith" />
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Contains" itemValue="contails" />
						</p:selectOneMenu>

						<p:inputText id="firstName"
							value="#{userSearchCriteria.firstName}">
						</p:inputText>


						<h:outputText value="Middle Name " />
						<p:selectOneMenu id="mName"
							value="#{userSearchCriteria.mNameCondition}" style="width:125px">
							<f:selectItem itemLabel="Starts With" itemValue="startWith" />
							<f:selectItem itemLabel="Ends With" itemValue="endsWith" />
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Contains" itemValue="contails" />
						</p:selectOneMenu>

						<p:inputText value="#{userSearchCriteria.middleName}" />

						<p:outputLabel for="lastName" value="Last Name " />
						<p:selectOneMenu id="lName"
							value="#{userSearchCriteria.lNameCondition}" style="width:125px">
							<f:selectItem itemLabel="Starts With" itemValue="startWith" />
							<f:selectItem itemLabel="Ends With" itemValue="endsWith" />
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Contains" itemValue="contails" />
						</p:selectOneMenu>

						<p:inputText id="lastName" value="#{userSearchCriteria.lastName}">
						</p:inputText>

						<p:outputLabel for="displayName" value="Display Name " />
						<p:selectOneMenu id="dName"
							value="#{userSearchCriteria.dNameCondition}" style="width:125px">
							<f:selectItem itemLabel="Starts With" itemValue="startWith" />
							<f:selectItem itemLabel="Ends With" itemValue="endsWith" />
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Contains" itemValue="contails" />
						</p:selectOneMenu>

						<p:inputText id="displayName"
							value="#{userSearchCriteria.displayName}" />

						<p:outputLabel for="userType" value="User Type" />
						<p:selectOneMenu id="uType"
							value="#{userSearchCriteria.uTypeCondition}" style="width:125px">
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Not Equals" itemValue="notEquals" />
						</p:selectOneMenu>

						<p:selectOneMenu id="userType" value="userSearchCriteria.userType"
							style="width:125px">
							<f:selectItem itemLabel="Select User Type" itemValue="" />
							<f:selectItem itemLabel="Employee" itemValue="Employee" />
							<f:selectItem itemLabel="Contractor" itemValue="Contractor" />
							<f:selectItem itemLabel="Temp Worker" itemValue="Temp Worker" />
						</p:selectOneMenu>

						<p:outputLabel for="userStatus" value="User Status" />
						<p:selectOneMenu id="uStatus"
							value="#{userSearchCriteria.uStatusCondition}"
							style="width:125px">
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Not Equals" itemValue="notEquals" />
						</p:selectOneMenu>


						<p:selectOneMenu id="userStatus"
							value="userSearchCriteria.userStatus" style="width:125px">
							<f:selectItem itemLabel="Please Select" itemValue="" />
							<f:selectItem itemLabel="Active" itemValue="Active" />
							<f:selectItem itemLabel="Disabled" itemValue="Disabled" />
							<f:selectItem itemLabel="Deleted" itemValue="Deleted" />
							<f:selectItem itemLabel="Locked" itemValue="Locked" />
						</p:selectOneMenu>


						<h:outputText value="Email" />

						<p:selectOneMenu id="uMail"
							value="#{userSearchCriteria.emailCondition}" style="width:125px">
							<f:selectItem itemLabel="Starts With" itemValue="startWith" />
							<f:selectItem itemLabel="Ends With" itemValue="endsWith" />
							<f:selectItem itemLabel="Equals" itemValue="equals" />
							<f:selectItem itemLabel="Contains" itemValue="contails" />
						</p:selectOneMenu>


						<p:inputText value="#{userSearchCriteria.email}" />


						<h:inputHidden></h:inputHidden>
						<h:inputHidden></h:inputHidden>
						<h:inputHidden></h:inputHidden>
						<h:inputHidden></h:inputHidden>
						
						
				<f:facet name="footer">
					<p:commandButton value="Search" ajax="true"
						action="#{userBean.searchUser(userSearchCriteria)}" update="searchUserResult">
					</p:commandButton>
					<h:inputHidden></h:inputHidden>

					<p:commandButton value="Clear" ajax="false" />
				</f:facet>

					</h:panelGrid>
				</p:fieldset>
			</p:panelGrid>

			<p:outputPanel id="searchUserResult">
				<p:growl id="searchUserMessages" showDetail="true" />
				
								<p:outputPanel rendered="true" id="adminLeftPane">

					<p:toolbar>  
						<p:toolbarGroup align="left">
							<p:commandButton id="new" icon="new" title="New" action="#{adminBean.createComponent}" immediate="true" update=":adminTabPanelView:adminTabPanel"/>
							<p:separator/>  
							<p:commandButton  id="delete" icon="delete" title="Delete" onclick="confirmation.show()"/>  
							<p:separator/>
							<p:commandButton  id="advSearch" icon="search" title="Advance Search"/>
						</p:toolbarGroup>
					</p:toolbar>
				</p:outputPanel>
				
				
				
				<p:contextMenu for="searchUserResult">
					<p:menuitem value="View" icon="ui-icon-search"
						actionListener="#{adminBean.viewSelectedResult}" />
					<p:menuitem value="Delete" icon="ui-icon-close"
						oncomplete="confirmation.show();return false;"
						update="searchUserResult" />
				</p:contextMenu>



				<p:dataTable id="users" var="user" value="#{userSearchCriteria.searchResult}"
					rowKey="#{user.userKey}" selection="#{userSearchCriteria.selectedUser}"
					selectionMode="single">
					<p:column headerText="Id" rendered="false">
						<h:outputText value="#{user.userKey}" />
					</p:column>
					<p:column headerText="UserName">
					<p:commandLink id="ajax" actionListener="#{userBean.getUserDate()}">
        <h:outputText value="#{user.userName}" />
    </p:commandLink>
					</p:column>
					<p:column headerText="First Name">
						<h:outputText value="#{user.firstName}" />
					</p:column>
					<p:column headerText="Middle Name">
						<h:outputText value="#{user.middleName}" />
					</p:column>
					<p:column headerText="Last Name">
						<h:outputText value="#{user.lastName}" />
					</p:column>
					<p:column headerText="Email">
						<h:outputText value="#{user.email}" />
					</p:column>
				</p:dataTable>

			</p:outputPanel>
		</h:form>

	</ui:composition>

</h:body>

</html>