<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hys="http://java.sun.com/jsf/composite/hys">

<h:body>

	<ui:composition>
		<h:form id="UserAttributesForm">



			<p:panel header="User Attributes">
				<p:messages />
 
 

							<p:commandButton id="withIcon" icon="add"
								actionListener="#{userAttributesBean.openCreateAttribute}"
								process="@this"
								/>



					<p:dataTable id="userAttr" widgetVar="userAttr"
						var="userAttr" value="#{userAttributesBean.userAttributes}"
						editable="true" style="margin-bottom:20px">

						<p:column headerText="Name">
							<p:outputLabel value="#{userAttr.name}"
								style="width:100%"/>
						</p:column>

						<p:column headerText="Display Name">
							<p:outputLabel value="#{userAttr.displayName}"
								style="width:100%"/>
						</p:column>

						<p:column headerText="Type">
							<p:outputLabel value="#{userAttr.userAttrType}"
								style="width:100%"/>
						</p:column>

						<p:column headerText="Category">
							<p:outputLabel value="#{userAttr.category}"
								style="width:100%"/>
						</p:column>

					</p:dataTable>
 			</p:panel>


		</h:form>

	</ui:composition>

</h:body>

</html>